.nav{
    border-bottom: 0.9px rgba(83, 83, 83, 0.63) solid;
    padding-bottom: 4px;
    font-size: 16px;
    background-color:white;
    width:100%;
    z-index:99;
    padding-left:60px;
    padding-right:60px;
    position:fixed;
    top:0;
    left:0;

}

.navWithShadow{
    border-bottom: 0.9px rgba(83, 83, 83, 0.63) solid;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    padding-bottom: 4px;
    font-size: 16px;
    background-color:white;
    width:100%;
    z-index:99;
    padding-left:60px;
    padding-right:60px;
    position:fixed;
    top:0;
    left:0;

}


.choices{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom: 14px;
}
.choices>div{
    width:100%;
}
.categories{
    display: flex;

}
.categories>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}


.input{
    border: 0.4px grey solid;
    border-radius: 25px;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
    width: 100%;
    text-align: center;
}
.input:active,.input:focus{
    text-align: left;
    border-radius: 8px;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;

}
  
.dropDownContent {
    display: block;
    position: absolute;
    background-color: #fff;
    width:100%;
    top:47px;
    z-index: 1;
    border: 0.4px grey solid;
    border-radius: 5px;
    padding: 5px;
    max-height: 225px;
    overflow: scroll;
}
.placeHolderDiv{
    text-align:end;
    display:flex;
    justify-content:flex-end;
}



@media only screen and (max-width: 1030px) {
    .placeHolderDiv{
        display: none;
    }
  }
  @media only screen and (max-width: 930px) {
    .home{
        display: none !important;
    }
    .nav{
        padding-left: 20px;
        padding-right: 20px;
    }
    .categories{
        width:auto !important ;
    }
  }
  @media only screen and (max-width: 500px) {
    .placeHolderDiv{
        display: none;
    }
    .categories{
        display: none;
    }
  }