.highlighted{
    width:100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 220px;
    max-height: 220px;
    scroll-behavior: smooth;
    
}
.highlighted::-webkit-scrollbar{
    display: none;
}


.highlighted>div{
    width: max-content;
    margin-right: 29px;
    margin-bottom:15px;
    margin-top:15px;

}
.title{
    color:white;
    font-size:18px;
    font-weight: 600;
    margin-left: 50px;
}

.poster{
    width:100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 270px;
    max-height: 270px;
    scroll-behavior: smooth;
    
}
.poster::-webkit-scrollbar{
    display: none;
}


.poster>div{
    width: max-content;
    margin-right: 29px;
    margin-bottom:15px;
    margin-top:15px;

}