.button {
    padding: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-content: cc;
    align-items: center;
}
  
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown:hover{
    background-color: black;
    color: white !important;

}
  
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    color: black;
    min-width: 540px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: auto;
    justify-content: space-between;
}
.dropDownContent>div{
    padding-bottom: 20px;
    height: auto;
    width: 100%;
}
.splitTitle{
    padding: 20px 20px;
    font-weight: 800;
    font-size: 18px;
}
  
.aTag{
    color: black;
    padding-left: 20px;
    padding-bottom:5px;
    padding-top:5px;
    font-weight: lighter;
    text-decoration: none;
    display: block;
    font-size: 12px;

}
.splitParent{
    display: flex;
}
.columnThree{
    background-color: rgba(200, 200, 200, 0.24);
    
    
}
.columnThree>div{
    padding-right: 20px;
}
  
.aTag:hover {background-color: rgba(200, 200, 200, 0.24);}
  
.dropdown:hover .dropDownContent {display: flex;}
  