.parent{
    position: relative;
    border-radius: 8px;
    margin-bottom: 70px;
    margin-right: 15px;
    padding: 4px;
}
.parent:hover{
    padding:1px;
}
.showCaseParent2{
    position: relative;
    border-radius: 8px;
    margin-bottom: 90px;
    margin-right: 10px;
    padding: 0px;
    width: 150%;
    cursor: pointer;
    
}
.showCaseParent2:hover{
    -webkit-box-shadow: 0px 0px 13px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(163,163,163,1);
    box-shadow: 0px 0px 13px 0px rgba(163,163,163,1);
}
.posterParent3{
    border-radius: 8px;
    margin-bottom: 90px;
    margin-right: 10px;
    padding: 0px;
    width: 150%;
    cursor: pointer;
    
}
.posterParent3:hover{
    filter: opacity(60%);
}


.detailedParent4{
    border-radius: 8px;
    margin-bottom: 90px;
    margin-right: 10px;
    padding: 0px;
    width: 100%;
    display: flex;
    
}
.peopleParent5{
    border-radius: 8px;
    margin-right: 10px;
    padding: 0px;
    width: 100%;
    height:100%;
    cursor: pointer;
}
.peopleParent6{
    border-radius: 8px;
    margin-right: 10px;
    padding: 0px;
    width: 100%;
    height:100%;
    cursor: pointer;
}


.highlighted_rating{
    position: absolute;
    top: 0;
    right: 0;
    filter: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: 12px;
    background: rgba(0, 0, 0, 0.72);
    color: white;
    border-radius: 3px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
    font-size: 15px;
}

.text{
    width:100%;
    height:100%;
    padding:20px;
    padding-bottom: 15px;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    /*filter: drop-shadow(0px 3px 3px rgba(0,0,0,1));*/
}

.text2{
    width:100%;
    padding:20px;
    padding-bottom: 15px;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    /*filter: drop-shadow(0px 3px 3px rgba(0,0,0,1));*/
}
.viewButton{
    background-color: #29b6f6;
    padding: 5px;
    padding-left: 20px;
    width: fit-content;
    padding-right: 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    
    margin-top: 8px;
}
.viewButton:hover{
    padding-left:25px;
    padding-right: 25px;
    filter: none;

}
.year{
    font-size: 12px;
    font-weight: 300;
}
.name{
    font-size: 19px;
    padding: 0px;
    font-weight: 700;
}

.viewButton2{
    background-color: rgba(255, 0, 0, 0.77);
    padding: 5px;
    padding-left: 20px;
    width: fit-content;
    padding-right: 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    filter: none !important;
    margin-top: 8px;
    margin-bottom: 10px;
}
.viewButton2:hover{
    padding-left:25px;
    padding-right: 25px;
    border:0.2px black solid;
    filter:none;
    
}
.year2{
    font-size: 14px;
    margin-bottom: 4px;
}
.name2{
    font-size: 24px;
    padding: 0px;
    font-weight: 900;
}

.text3{
    width:100%;
    padding-bottom: 15px;
    text-align: center;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    /*filter: drop-shadow(0px 3px 3px rgba(0,0,0,1));*/
}

.text4{
    width:100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    /*filter: drop-shadow(0px 3px 3px rgba(0,0,0,1));*/
}

.year3{
    font-size: 11px;
    font-weight: 100;
    color: grey;
}
.name3{
    font-size: 12px;
    padding: 0px;
    font-weight: 900;
}
.name5{
    font-size: 13px;
    padding: 0px;
    font-weight: 900;
}
.characterName{
    font-weight: 100;
    font-size: 12px;
}
.year4{
    font-size: 14px;
    color: grey;
}
.name4{
    font-size: 27px;
    padding: 0px;
    font-weight: 900;
}
.overview{
    width:100%;
    font-size: 14px;
    color:grey;
}
.viewMoreButton{
    cursor: pointer;
    font-size:15px;
    color:#29b6f6;
    padding-top: 15px;
}

.movieNames{
    font-size:12px;
    color:grey;
    cursor: pointer;
    margin-bottom: 7px;
}
.movieNames:hover{
    color: black;
}
.peopleParent5:hover,.peopleParent6:hover{
    -webkit-box-shadow: 0px 0px 13px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(163,163,163,1);
    box-shadow: 0px 0px 13px 0px rgba(163,163,163,1);
}